/*
The CSS code gets to executed from top to bottom and left ro right
Basic rules to write CSS
- write GENERAL rules first (for all the paragraph tags in the website for example) and only after that write CSS for SPECIFIC tags (for example the paragraph tags inside the footer)
- write the css styles to define for the parent (outside) container and THEN the children (inside containers) of that parent and THEN the children (inside containers) of the child above
*/


/* CSS reset
(all the browsers will see the website in the same by setting every tag to 0 (the website will look the same on all browsers))
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

head {
    font-family: sans-serif;
}


/* General styles (General Module, wrapping around the modules bellow)
(the styles used everyw1here in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    font-family: sans-serif;
    font-size: 16px;
    color: #838994;
    letter-spacing: 0.03em;
    margin: 0;
    display: block;
}

.content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: #838994;
}

img {
    border: 0;
}

div {
    display: block;
}

ol,
ul {
    list-style: outside none none;
}

hr {
    box-sizing: content-box;
    height: 0;
}

h5 {
    display: block;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weigt: bold;
}

ul,
menu,
dir {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}


/* Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

.top-navigation {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: fixed;
    width: 100%;
    z-index: 9999;
    opacity: 0.98;
    top: 0;
}

.top-navigation .content {
    height: 70px;
    padding: 0px 15px;
}

.top-navigation .links {
    margin-right: 1rem;
    font-size: 1.04rem;
    color: #838994;
    float: right;
    margin-top: 1.7rem;
}

.top-navigation .links li {
    margin-left: 1.563rem;
    display: inline-block;
}

.top-navigation .links .active a {
    color: #000;
    font-weight: 500;
}

.top-navigation .links li a: hover {
    color: #0ff014;
    cursor: hand;
}

.top-navigation .logo {
    height: 4.375rem;
}


/* Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

.introduction {
    background-image: url('../images/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
}

.introduction h1 {
    font-size: 3.125rem;
    padding-top: 17.5rem;
}

.introduction h3 {
    font-size: 1.563rem;
    margin-top: 1.25rem;
}

.introduction h1,
.introduction h3 {
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}

.introduction .buttons {
    color: #ffffff;
    margin-top: 1.56rem;
    text-align: center;
}

.introduction .big-button {
    background-color: #f15a29;
    border-color: #f15a29;
    border-radius: 4px;
    border-style: none;
    color: #ffffff;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    text-shadow: none;
    width: 9.688rem;
    text-align: center;
}

.cases {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}

.cases .content {
    color: #1d1e21;
    margin-top: 7.875rem;
    text-align: center;
}

.cases h2 {
    font-size: 2.75rem;
    font-weight: 300;
    margin: 1.65rem 0 3.125rem;
}

.cases .devices >li {
    float: left;
    width: 33.3333%
}

.cases .devices h3 {
    font-size: 1.563rem;
    font-weight: 400;
    margin: 2.5rem 0 1.875rem;
}


/* Footer styles (Main Module)
(all the styles inside the < footer > tag)
*/

.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
}

.social hr {
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin: 1.313rem 0;
}

.social .icons >li {
    border: 1px solid #eaebec;
    border-radius: 2.25rem;
    display: inline-block;
    height: 3.5rem;
    margin: 1.25rem 5px;
    padding: 1.25rem 0 0;
    text-align: center;
    width: 3.5rem;
}

.social .twitter {
    color: #55acee;
}

.social .facebook {
    color: #4c66a4;
}

.social .instragram {
    color: #3f7296;
}


/*
place all the desktop styles above this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles bellow this line
*/
